
<div class="text-field">
  <%= form.label :city %>
  <%= form.text_field :city %>
</div>

<div class="text-field">
  <%= form.label :state %>
  <%= form.text_field :state %>
</div>

<div class="text-field">
  <%= form.label :country %>
  <%= form.text_field :country %>
</div>

<div class="number-field">
  <%= form.label :guest_number %>
  <%= form.number_field :guest_number %>
</div>

<div class="number-field">
  <%= form.label :bed_number %>
  <%= form.number_field :bed_number %>
</div>

<div class="number-field">
  <%= form.label :room_number %>
  <%= form.number_field :room_number %>
</div>

<div class="number-field">
  <%= form.label :bath_number %>
  <%= form.number_field :bath_number %>
</div>

<div class="number-field">
  <%= form.label :min_price %>
  <%= form.number_field :min %>
</div>

<div class="number-field">
  <%= form.label :max_price %>
  <%= form.number_field :max %>
</div>


