<div class="text-field">
  <%= form.label :name %>
  <%= form.text_field :name, type: 'name' %>
</div>

<div class="text-field">
  <%= form.label :address %>
  <%= form.text_field :address %>
</div>

<div class="text-field">
  <%= form.label :detail %>
  <%= form.text_field :detail %>
</div>

<div class="number-field">
  <%= form.label :price %>
  <%= form.number_field :price %>
</div>

<div class="number-field">
  <%= form.label :guest_number %>
  <%= form.number_field :guest_number %>
</div>

<div class="number-field">
  <%= form.label :bed_number %>
  <%= form.number_field :bed_number %>
</div>

<div class="number-field">
  <%= form.label :room_number %>
  <%= form.number_field :room_number %>
</div>

<div class="number-field">
  <%= form.label :bath_number %>
  <%= form.number_field :bath_number %>
</div>
