<h1><%= @listing.name %></h1>

<% if current_user.id == @listing.user_id %>
	<%= link_to 'Edit', listing_edit_path(@listing.id) %>
	<%= link_to 'Delete', listing_destroy_path, method: :delete, data: {confirm: "Are you sure?" } %>
<% else %>
	<%= link_to 'Reserve', reservation_new_path(@listing.id) %>
<% end %>

<p><%= @listing.guest_number %> guests | <%= @listing.room_number %> rooms | <%= @listing.bed_number %> beds | <%= @listing.bath_number %> bath </p>

<h2>Price: $<%= @listing.price %> per night</h2>

<h2>Location</h2>
<p><%= @listing.address %></p>

<h2>Description</h2>
<p><%= @listing.detail %></p>

