<div class="text-field">
  <%= form2.label :username %>
  <%= form2.text_field :username, type: 'name' %>
</div>

<div class="text-field">
  <%= form2.label :email %>
  <%= form2.text_field :email, type: 'email' %>
</div>

<div class="image-field">
  <%= form2.label :image_profile %>
  <%= form2.file_field :image_profile %>
</div>
