<div class="text-field">
  <%= form.label :username %>
  <%= form.text_field :username %>
</div>

<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.text_field :password %>
</div>

<div class="image-field">
	<%= form.label :image_profile %>
	<%= form.file_field :image_profile %>
</div>